* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 0.8rem;
    text-align: center;
    min-height: 100vh;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

#root {
    flex: 1;
    display: flex;
    flex-direction: column;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    opacity: 1;

}

main {
    flex: 1;
    padding: 2rem;
    max-width: 1800px;
    margin: 0 auto;
    width: 100%;

    background-color: #4a197e;
    opacity: 0.8;
    background-size: 20px 20px;
    background-image: repeating-linear-gradient(to right, #c77e00, #c77e00 1px, #4a197e 1px, #4a197e);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: auto;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 122, 13);

    p {
        margin: 0;
        font-size: 1rem;
        margin-right: 0.5rem;
    }


}